externalImagePath: home/ssm-user/seb44_main_026/images/
spring:
  #mvc:
  #  static-path-pattern: /images/**
  #resources:
  #  static-locations: file:${externalImagePath}
  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create-drop

    open-in-view: false

    properties:
      hibernate:
        #dialect: org.hibernate.dialect.MySQL5Dialect
        format_sql: true
        show_sql: true
  cloud:
    gcp:
      storage:
        credentials:
          location: classpath:greennare-9e6b24e727ac.json
        project-id: greennare
        bucket: greennare-bucket-1

  redis:
    cache:
      host: localhost
      port: 6379


  #datasource:
  #  url: jdbc:mysql://34.64.148.174:3306/greennare?serverTimezone=Asia/Seoul
  #  #jdbc:mysql://34.64.148.174:3306/greennare?useSSL=false&serverTimezone=Asia/Seoul
  #  username: cloudrun
  #  password: cloudrun
  #  driver-class-name: com.mysql.cj.jdbc.Driver

  sql:
    init:
      #schema-locations: classpath*:db/h2/schema.sql
      #data-locations: classpath*:db/h2/data.sql
#  application:
#    name: monitoring
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

logging:
  level:
    org:
      springframework:
        jdbc:
          core: TRACE

jwt:
  key: jasdfasfd1312345351354314560984745
  access-token-expiration-minutes: 120
  refresh-token-expiration-minutes: 420

mail:
  address:
    admin: admin@gmail.com
#server:
#  port: 8080
#management:
#  endpoint:
#    metrics:
#      enabled: true
#    prometheus:
#      enabled: true

# endpoints:
#    web:
#      exposure:
#        include: health, info, metrics, prometheus

# metrics:
#    tags:
#      application: ${spring.application.name}
CLOUD_SQL_INSTANCE_CONNECTION_NAME: greennare:asia-northeast3:greennare-db
DATABASE_NAME: greennare
USERNAME: cloudrun
PASSWORD: cloudrun